.fadinghorizontalrule-container{
    height: 1px;
    width: 66.0em;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 1) 47%, rgba(0, 212, 255, 0) 100%);
    opacity: 0.3 !important; 
}