.fadinghorizontalrule-container{
    height: 1px;
    background-color: #3b3b3b;
    width: 66.0em;
    margin: 0 auto;
    background-image: linear-gradient(left, white 2%, #E6E6E6 50%, white 98%);
}