.landinglogocharacter-container{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: calc(1rem + 2.5vw) !important;
    text-shadow: 2px 2px 18px rgba(12, 62, 100, 0.60);
}