.websitelist-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw; 
    margin-top: 15vh; 

    .grow {
        transition: all .25s ease-in-out;
    }
    
    .grow:hover {
        transform: scale(1.15);
    }

    a{
        &:link, &:visited, &:active{
            text-decoration: none;
        }
    }
}