.websitelist-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw; 
    margin-top: 15vh; 
    a{
        &:link, &:visited, &:active{
            text-decoration: none;
        }
    }
}